<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="este é o meu site ejs node mongoDB express">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" href="imgs/icon.ico" type="image/x-icon">
    <title>crud simples by nigma</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-md bg-blue navbar-dark">
            <div class="container">
                <a href="#" class="navbar-logo">web CRID by Nigma</a>
                <button class="nav-button" data-navbar="#menu">
                    <i class="navbar-icon"></i>
                    <i class="navbar-icon"></i>
                    <i class="navbar-icon"></i>
                </button>
                <ul class="navbar-nav" id="menu">
                    <li class="nav-item"><a href="#" class="nav-link">inicio</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">posts</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">sobre</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <main>
        <div class="container">
            <h1 class="text-primary mb-10">Editar Registro</h1>
            <hr class="h-4 bg-dark w-27p mb-10">
            <div class="">
                <form action="/<%= post.id %>?_method=PUT" method="post" enctype="multipart/form-data">
                    <%- include('form_fields') %>
                        <button type="submit" class="m-10 btn btn-success">update</button>
                        <a href="/" class="btn btn-info m-1">voltar</a>
                </form>
            </div>
        </div>
    </main>
    <script src="js/script.js"></script>
</body>

</html>